/f/vprofile-project/vprofile-project/vagrant/Manual_provisioning_MacOSM1
/f/vprofile-project/vprofile-project/vagrant/Automated_provisioning_MacOSM1
/f/vprofile-project/vprofile-project/vagrant/Manual_provisioning_WinMacIntel
